@import ../core/sass/core

.small
  display: block
  background: #ddd
  padding: 10px

.small .small-icon
  width: 50px
  height: 50px
  fill: $helios-orange
  transition: fill 300ms

  .no-touch &:hover
    fill: $color-light

.small .small-button
  cursor: pointer
  user-select: none
  .no-touch &:hover
    color: $helios-orange
    border-bottom: 1px dotted